{% extends 'Tronj/myAccount.html' %}
{% load staticfiles %}

    <title>TRONJ-My Account</title>

{% block head %}

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/Drone/sub/Profile.css' %}" />

   <style>
       .nav_iconn{
           color: white;
           font-size:25px;
           font-family: "Baskerville Old Face";
            padding:10px 10px 10px 10px;
       }
   </style>
{% endblock %}
<!-- ***** Header Area Start ***** -->
{% if user.is_authenticated %}

 {% else %}
{% block nav %}
     <header class="header_area" id="header">

        <nav class="h-100 navbar navbar-expand-lg navbar-transparent">
                        <!-- Nav -->
                        <div class="container-fluid h-100 row h-100 col-12 h-100 collapse navbar-collapse navbar-transparent" id="dorneNav">
                            <ul class="navbar-nav mr-auto " id="dorneMenu">
                                <a href="{% url 'index' %}"  class="navbar-brand navbar-left"style="font-size:35px;"><b style="color: goldenrod;font-family: 'Cooper Black';">TRONJ</b></a>
                                {% if user.is_staff %}
                                 <li class="nav-item active">
                                    <a href="{% url 'index' %}" ><b class="nav_iconn">HOME</b> </a>
                                </li>
                                     <li class="nav-item active">
                                    <a href="{% url 'myAccount' %}" class="nav_iconn">{{user}}</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="{% url 'to_apply' %}" class="nav_iconn">Post The Job</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav_iconn" href="{% url 'Cappli_review' %}" >Review Application</a>
                                </li>

                                {% elif user.is_authenticated %}
                                <li class="nav-item active">
                                    <a  href="{% url 'index' %}" ><b class="nav_iconn">Home</b></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav_iconn" href="{% url 'myAccount' %}" >{{user}}</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav_iconn" href="{% url 'skilltest' %}" >Skill Test</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav_iconn" href="{% url 'to_apply' %}"  >Want a Job</a>
                                </li>

                                {% else %}
                                <li class="nav-item active">
                                    <a class=" nav_iconn" href="{% url 'index' %}">Home</a>
                                </li>

                                <li class="nav-item active">
                                    <a href="{% url 'login' %}" class="nav_iconn">Login </a>

                                </li>

                                <li class="nav-item ">
                                    <a href="{% url 'register' %}" class="nav_iconn">Sign in  </a>
                                </li>
                                {% endif %}
                            </ul>


                        </div>

                    </nav>
<br><br><br>

    </header>
    {% endblock %}
{% endif %}
{% block content %}
{% if user.is_authenticated %}
            <br><br><br><br><br>
<header>

<nav>
    <div class="sidebar-wrapper" style="margin: 10px 10% 10px 10%;background-color: whitesmoke;border-radius:10px">
        <ul class="nav" >

          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'edit_Profile' %}">
              <i class="material-icons">person</i>
              <p>Presonal</p>
            </a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href={% url 'Edu_Content' %}>
              <i class="material-icons">import_contacts</i>
                {% if user.is_staff %}
                <p>Employee Education</p>
                {% else %}
              <p>Education</p>
                {% endif %}
            </a>
          </li>
        {% if user.is_staff %}
        {% else %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'Expre_Content' %}">
              <i class="material-icons">book</i>
              <p>Experience</p>
            </a>
          </li>
        {% endif %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'email_verify' %}">
              <i class="material-icons">edit</i>
              <p>Reset Password</p>
            </a>
          </li>
           <li class="nav-item ">
               {% if user.is_staff %}
            <a class="nav-link nav-right" href='Capplication'>
 {% else %}
                <a class="nav-link nav-right" href='Eapplication'>
{% endif %}

              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="material-icons">arrow_right_alt</i>
              <p>Logout</p>
            </a>
          </li>


        </ul>
      </div>
    </div>

</nav>
</header>

     <div class="content" style="margin-top:10px;margin-left:18%;margin-right:18%; ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-11">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Fill The Answers</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body" style="padding-left:10%;">
                    <a href="{% url 'email_verify' %}"> Click here to reset your Password using your email</a>
                  <form action="QA_set" method="get">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="font-size:20px;">{{Fdata.Q1}}</label>
                          <input type="text" class="form-control" name="A1">
                        </div>
                      </div>
                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="font-size:20px;">{{Fdata.Q2}}</label>
                          <input type="text" class="form-control" name="A2" >
                        </div>
                      </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    {% else %}
    <br><br><br><br><br>
<div class="content" style="margin-top:10px;margin-left:18%;margin-right:18%; ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-11">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Fill The Answers</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body" style="padding-left:10%;">
                    <a href="{% url 'email_verify' %}"> Click here to reset your Password using your email</a>
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="font-size:20px;">{{Q1}}</label>
                          <input type="text" class="form-control" name="A1">
                        </div>
                      </div>
                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="font-size:20px;">{{ Q2 }}</label>
                          <input type="text" class="form-control" name="A2" >
                        </div>
                      </div>



                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endif %}
        {% endblock %}
